@import normlize.css

*
  box-sizing: border-box


html,body,form
  background-color: background-color
  margin: 0
  padding: 0

body
  display: flex
  flex-direction: column
  font-size: 14px
  min-height: 100vh;  /* высота веб-страницы больше или равна высоте окна браузера */
  margin: 0


nav
  display: flex
  flex-direction: row
  justify-content: space-between


h1
  margin: 0
  padding: 0
p
  margin: 0
  padding: 0

.fa
  color: orange
  margin-right: 10px
