.title
  margin-top: 2em
  &--primary
    font-size: 2.5em

  &--second
    text-transform: uppercase
    font-size: 0.8em

  &--element
    background-color: red

.nav
  &--dataUser
    list-style-type: none
  &--dataUserElem
    display: inline


.primaryNav
  height: 50px
  &--navElement
    display: inline-flex
    width: 100px
    height: 50px
    background-color: orange
    &:before
      content: ""
      width: 4px
      height: 100%
      background-color: green
